.h1{
    font-size: large;
    font-weight: bold;
    font-size: 42px;
    color: white;
}

.h3{
    font-weight: bold;
    font-size: 16px;
    color: white;
}

.h2{
    font-weight: bold;
    font-size: 24px;
    color: rgb(82, 81, 81);
}

.top{
    /* border: 1px solid red; */
    background-color: #173c30;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left{
    width: 50%;
}
.right{
    /* border: 1px solid red; */
    width: 50%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.right>img{
     /* border: 1px solid red; */
    height: 300px;
    margin-top: 70px;
}

.middle{
    margin: auto;
    margin-top: 40px;
    width: 60%;
    
}